/* ===========Satrt Variables=========== */
:root {
    --main-color: white;
    --second-color: #00BFC4;
    --third-color: #083038;
    --fourth-color: #00788A;
    --nav-color: #4A5658;
    --li-hover: #00BFC4;
    --Josefin-font:'Josefin Sans', sans-serif;
    --poppins-font:'Poppins', sans-serif;
}
/* ===========End Variables=========== */

/* ===========Satrt Global Rules=========== */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

ul {
    list-style: none;
}
/* ===========End Global Rules=========== */

/* ===========Start Media Queries=========== */
@media(min-width:576px){ /*--small Screen--*/
    .container {
        max-width: 555px;

    }
}
@media(min-width:768px){/*--Medium Screen--*/
    .container {
        max-width: 750px;
    }
}
@media(min-width:992px){/*--Large Screen--*/
    .container {
        max-width: 970px;
    }
}
@media(min-width:1200px){/*--X-large Screen--*/
    .container {
        max-width: 1170px;
    }
}
@media(min-width:1400px){ /*--XX-large Screen--*/
    .container {
        max-width: 1340px;
    }
}
/* ===========End Media Queries=========== */

/* ===========Start Header=========== */
header {
    width: 100%;
    height: 120px;
    padding-top: 52px;  
}

header .container{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 3px solid #74DCDF;
    position: relative;

}

header .container .logo img {
    cursor: pointer;
}

header .container .menu-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    display: none;
}

header .container .menu-btn button {
    border: 0;
    background-color: transparent;
}

header .container .menu-btn button .toggle-menu {
    color: #00788a;
    font-size: 42px;
    cursor: pointer;
    transition: all 200ms ease;
}

header .container .menu-btn button:hover i{
    color: #00BFC4;
}

header .container .menu-btn ul {
    position: absolute;
    top: 45px;
    background-color: #28c1c1;
    width: 220px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    border: 3px solid #4cb9c1;
    gap: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease;
    z-index: 100;
}

header .container .menu-btn ul li {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 200ms ease;
}

header .container .menu-btn ul li:hover {
    background-color: #0e455080;
}

header .container .menu-btn ul li a {
    text-decoration: none;
    color: white;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 600;
    transition: all 200ms ease;
}

header .container .menu-btn ul li:hover a {
    padding-left: 10px;
}

header .container nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 38px;
}

header .container nav ul li a{
    text-decoration: none;
    color: var(--nav-color);
    font-size: 14px;
    font-weight: 500;
    font-family: var(--poppins-font);
    transition: all 200ms ease;
}

header .container nav ul li a:hover {
    color: #00BFC4;
}

header .container nav ul li .first-link {
    color:#083038;
    font-weight: 600;
}

header .container nav::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #00788A;
    position: absolute;
    bottom: -7px;
    border-radius: 100%;
    margin-left: 14px;
}

header .container .icons {
    display: flex;
    gap: 15px;
}

header .container .icons i {
    font-size: 29px;
    color: #60cbd1;
    transition: all 200ms ease;
}

header .container .icons i:hover{
    color: #00788a;
}

header .container .icons i {
    cursor: pointer;
}

@media (max-width: 767px) {
    header .container nav ul {
        gap: 15px;
    }
    header .container .icons {
        gap: 15px;
    }
}
@media (max-width: 576px) {
    header .container {
        align-items: center;
    }
    header .container nav {
        display: none; 
    }
    header .container .menu-btn {
        display: flex !important;
    }

    header .container .menu-btn button:focus + ul{
        transform: translateY(10px);
        opacity: 1;
        pointer-events: all;
    }
}
@media (max-width: 230px) {
    header {
        overflow: hidden !important;
    }
    header .container .icons {
        display: none;
    }
    header .container .menu-btn ul {
        right: 0;
        width: 190px;
    }
    header .container .menu-btn ul li {
        justify-content: center;
    }
    header .container .menu-btn ul li a{
        padding: 0;
    }
    header .container .menu-btn ul li:hover a{
        padding: 0;
    }
}
@media (max-width: 200px) {
    header .container {
        overflow: hidden;
    }
    header .container .menu-btn ul {
        right: 0;
        width: 130px;
    }
}
/* ===========End Header=========== */

/* ===========Start Section One=========== */
.section-1 {
    width: 100%;
    padding-top: 75px;
    padding-bottom: 100px;
    background: url(../img/section-1-background.svg) no-repeat center;
}

.section-1 .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.section-1 .container p {
    font-size: 14px;
    font-weight: 500;
    font-family: var(--poppins-font);
    color: var(--second-color);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.section-1 .container p::after {
    content: "";
    width: 52px;
    height: 2px;
    background-color:var(--second-color);
    position: absolute;
    bottom: -7px;
    transition: all 300ms ease;
}

.section-1 .container p:hover::after {
    width: 70px;
}

.section-1 .container h1 {
    max-width: 852px;
    font-size: 100px;
    font-weight: bold;
    font-family: var(--Josefin-font);
    background: linear-gradient(90deg, #00788A 6.67%, #74DCDF 94.66%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: center;
    pointer-events: none;
    line-height: 100px;
}

.section-1 .container .explore-btn {
    background-color: var(--second-color);
    text-decoration: none;
    height: 72px;
    max-height: 72px;
    width: 200px;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 0px 26px 30px -16px rgba(0, 191, 196, 0.25);
    font-size: 16px;
    font-weight: 600;
    font-family: var(--poppins-font);
    color: #F8F5FF;
    transition: all 300ms ease;
}

.section-1 .container .explore-btn:hover {
    box-shadow: 0px 26px 30px -13px rgb(0 191 196 / 50%);
    transform: translateY(-2px);
}

.section-1 .container .watch {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--Josefin-font);
    color: #43808C;
    transition: all 200ms ease;
}

.section-1 .container .watch:hover {
    color:#65cfd4;
}

@media (max-width: 767px) {
    .section-1 .container h1 {
        font-size: 50px;
        width: auto;
    }
}

@media (max-width: 235px) {
    .section-1 {
        overflow: hidden;
    }
}
/* ===========End Section One=========== */

/* ===========Start Section Two=========== */
.section-2 {
    background: url(../img/section-2-background.svg);
    padding-top: 270px;
    padding-bottom: 200px;
}

.section-2 .container {
    display: flex;
    gap: 60px
}

.section-2 .container .left-column {
    max-width: 540px;
    display: flex;
}

.section-2 .container .right-column {
    display: flex;
    flex-direction: column;
}

.section-2 .container .right-column h6 {
    color: var(--second-color);
    font-family: var(--poppins-font);
    font-size: 14px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}

.section-2 .container .right-column h6::after {
    content: "";
    width: 52px;
    height: 2px;
    position: absolute;
    background-color: var(--second-color);
    display: flex;
    transition: all 200ms ease;
}

.section-2 .container .right-column h6:hover::after {
    width: 69px;
}

.section-2 .container .right-column h1 {
    max-width: 590px;
    font-size: 44px;
    font-family: var(--Josefin-font);
    color: var(--fourth-color);
    padding-top: 14px;
    pointer-events: none;
    letter-spacing: 0.01em;
    line-height: 60px;
}

.section-2 .container .right-column p {
    max-width: 576px;
    font-family: var(--poppins-font);
    font-size: 22px;
    font-weight: 400;
    color: #083038;
    line-height: 34px;
}

.section-2 .container .right-column .experience {
    width: 328px;
    max-width: 328px;
    height: 127px;
    background: linear-gradient(270deg, #FFFFFF 1.37%, rgba(255, 255, 255, 0) 98.02%);
    border-radius: 40px;
    margin-top: 28px;
    display: flex;
    justify-content: center;
    gap: 30px;
}


.section-2 .container .right-column .experience .info  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
}

.section-2 .container .right-column .experience .info h4 {
    font-size: 20px;
    font-family: var(--poppins-font);
    font-weight: 600;
    color: var(--fourth-color);
}

.section-2 .container .right-column .experience .info p {
    font-size: 12px;
    font-weight: 400;
    font-family: var(--poppins-font);
    color: #083038;
    max-width: 178px;
    line-height: 18px;
}

.section-2 .container .right-column .support {
    width: 328px;
    max-width: 328px;
    height: 127px;  
    margin-top: 25px;
    border-radius: 40px;
    background: linear-gradient(124deg, rgb(255 255 255 / 25%) 0%, rgb(253 253 253 / 0%) 100%);
    border: 2px solid #ffffff90;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section-2 .container .right-column .support .info {
    display: flex;
    flex-direction: column;
    gap: 6px;

}

.section-2 .container .right-column .support .info h4 {
    max-width: 145px;
    color: var(--fourth-color);
    font-family: var(--poppins-font);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.section-2 .container .right-column .support .info p {
    max-width: 178px;
    color: #083038;
    font-family: var(--poppins-font);
    font-size: 12px;
    font-weight: 400;
    Line-height: 18px;
}

@media (max-width: 1399px) {
    .section-2 .container .left-column img {
        width: 510px;
        height: 575px;
    }
}
@media (max-width: 995px) {
    .section-2 {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .section-2 .container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .section-2 .container .right-column {
        padding-left: 20px;
    }
    .section-2 .container .right-column h1 {
        font-size: 36px;
    }
}
@media (max-width: 530px) {
    .section-2 .container .left-column {
        overflow: hidden;
    }
    .section-2 .container .left-column img {
        width: 390px;
        height: 472px;
    }
}
@media (max-width: 375px) {
    .section-2 {
        overflow: hidden !important;
    }
    .section-2 .container .left-column img {
        width: 250px;
        height: 290px;
    }
    .section-2 .container .right-column {
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        overflow: hidden;
    }
}

/* ===========End Section Two=========== */

/* ===========Start Section Three=========== */
.section-3 {
    background: url(../img/section-3-background.png);
    padding-bottom: 100px;
}

.section-3 .container {
    display: grid;
    grid-template-columns: auto;
    padding-top: 80px;
}

.section-3 .container .head-line {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
}

.section-3 .container .head-line h6 {
    font-size: 14px;
    font-weight: 700;
    font-family: var(--poppins-font);
    color: var(--second-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.section-3 .container .head-line h6::after {
    content: "";
    background-color: var(--second-color);
    width: 28px;
    height: 2px;
    margin-top: 2px;
    transition: all 200ms linear;
}

.section-3 .container .head-line h6:hover::after {
    width: 38px;
}

.section-3 .container .head-line h2 {
    max-width: 532px;
    color: var(--fourth-color);
    font-family: var(--Josefin-font);
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
}

.section-3 .container .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(388px,1fr));
    justify-items: center;
    row-gap: 82px;
    column-gap: 2px;
    padding-top: 95px;
}

.section-3 .container .card-container .card {
    width: 100%;
    min-width: 388px;
    height: 336px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 55px;
    border-radius: 6px;
}

.section-3 .container .card-container .card img {
    width: 72px;
    cursor: pointer;
    transition: all 300ms ease;
}

.section-3 .container .card-container .card img:hover {
    transform: scale(0.94);
}

.section-3 .container .card-container .card:nth-child(2) {
    box-shadow: 0px 60px 80px -14px rgba(0, 0, 0, 0.08);
}

.section-3 .container .card-container .card .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    text-align: center;
}

.section-3 .container .card-container .card .info h3 {
    color: var(--third-color);
    font-family: var(--Josefin-font);
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 2%;
    cursor: pointer;
    transition: all 200ms ease;
}

.section-3 .container .card-container .card .info h3:hover {
    color: #61bbbb;
}

.section-3 .container .card-container .card .info p {
    color: var(--third-color);
    font-family: var(--poppins-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    max-width: 305px;

}

.section-3 .container .view-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 78px;
    padding-bottom: 51px;
}

.section-3 .container .view-btn a {
    font-family: var(--poppins-font);
    font-size: 16px;
    font-weight: 600;
    color: #083038;
    text-decoration: none;
    position: relative;
    display: flex;
    gap: 7px;
}

.section-3 .container .view-btn a .arrow-icon {
    font-weight: 700;
}

.section-3 .container .view-btn a::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 72px;
    background-color: var(--li-hover);
    z-index: -2;
    right: 42px;
    bottom: -25px;
    border-radius: 6px;
    transition: all 300ms ease;
}

.section-3 .container .view-btn a:hover::after {
    width: 100px;
    right: -5px;
}

@media (max-width: 1399px) {
    .section-3 .container .card-container .card:nth-child(2) {
        box-shadow:none !important;
    }
}
@media (max-width: 415px) {
    .section-3 {
        overflow: hidden;
    }
}
/* ===========End Section Three=========== */

/* ===========Start Section Four=========== */
.section-4 {
    background-image: url(../img/section-4-background.png);

}

.section-4 .container {
    padding-top: 15px;
    padding-bottom: 145px;
    display: flex;
    gap: 113px;
}

.section-4 .container .left-column img{
    width: 609px;
    pointer-events: none;
}

.section-4 .container .right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-4 .container .right-column h6 {
    font-family: var(--poppins-font);
    color: var(--second-color);
    font-size: 14px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}

.section-4 .container .right-column h6::after {
    content: "";
    position: absolute;
    width: 52px;
    height: 2px;
    background-color: var(--second-color);
    top: 16px;
    left: 0;
}

.section-4 .container .right-column h1 {
    font-family: var(--Josefin-font);
    color: var(--fourth-color);
    letter-spacing: 0.01em;
    line-height: 60px;
    font-size: 44px;
    font-weight: bold;
    pointer-events: none;
}

.section-4 .container .right-column h5 {
    max-width: 550px;
    font-family: var(--poppins-font);
    color: #083038;
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;

}

.section-4 .container .right-column p {
    max-width: 540px;
    font-family: var(--poppins-font);
    font-size: 20px;
    color: #083038;
    line-height: 34px;
    padding-top: 20px;
}

.section-4 .container .right-column .play {
    display: flex;
    padding-top: 54px;
    gap: 16px;
    align-items: end;
}

.section-4 .container .right-column .play .play-icon {
    width: 48px;
    height: 48px;
    background-color: var(--second-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.section-4 .container .right-column .play .play-icon i {
    font-size: 22px;
    color: white;
}

.section-4 .container .right-column .play p {
    font-family: var(--poppins-font);
    color: var(--fourth-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    max-width: 140px;
}

@media (max-width: 1200px) {
    .section-4 .container {
        flex-wrap: wrap;
        justify-content: center;
    } 
}
/* ===========End Section Four=========== */


























/* ===========Start Section Five=========== */

/* ===========End Section Five=========== */